{% extends 'layout.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="m-12">
        <img class="m-auto content-center rounded-lg w-64" src="{{ img('zerotwo-dance.gif') }}" alt="Zero Two Dancing">
    </div>
{% endblock %}
