{% extends 'layout.twig' %}

{% block title %}Overview{% endblock %}

{% block content %}
    <div class="m-12">
        <img class="m-auto content-center rounded-lg w-64" src="/view/img/zerotwo-dance.gif" alt="Zero Two Dancing">
    </div>

    <div class="mt-4 w-fit m-auto space-y-4">
        {% for job in jobs %}
            {% include 'component/progress-bar.twig' with {label: job.id, progress: job.progress} %}
        {% endfor %}
    </div>
{% endblock %}
